{% extends "snippets/page_template.html" %}
{% block content %}
    {% include "snippets/navbar.html" %}

    <div class="row mb-3" style="margin-left: 10%; margin-right: 10%">
        <div class="col-6">
            <h1 class="alg-text">AI Algorithms</h1>
        </div>
        <div class="col-6">
            <div class="row mb-3">
                <div class="col-6">
                    <p class="alg-text">Don't know what algorithm fits your goals? Take the quiz to find out!</p>
                </div>
                <div class="col-6">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-size: 1.7rem">Quiz</button>
                </div>
            </div>
        </div>
    </div>

    <div class="grid" style="margin-left: 10%; margin-right: 10%">
    {% for row in algorithms %}
        {% for algorithm in row %}
                <!-- wtf happening with the block having borders -->
                <div class="alg">
                    <h1 class="alg-header"> {{ algorithm.name }}        </h1>
                    <p class="alg-text">  {{ algorithm.description }} </p>
                    <div class="link-button horizontal-center">
                        <a href="" class="link-button">Read More</a> | <a href="" class="link-button">Choose</a>
                    </div>
                </div>

            {% endfor %}
    {% endfor %}
    </div>

{% endblock %}