{% extends "snippets/page_template.html" %}
{% block content %}
    {% include "snippets/navbar.html" %}

    <h1>AI Algorithms</h1>
    <p>Don't know what algorithm fits your goals? Take the quiz to find out!</p>

    {% for row in algorithms %}
        <div class="row mb-3" style="margin-left: 10%; margin-right: 10%">
            {% for algorithm in row %}
                <div class="col-4">
                    <div class="alg">
                        <h1 class="alg-header"> {{ algorithm.name }}        </h1>
                        <p class="alg-text">  {{ algorithm.description }} </p>
                        <div class="link-button horizontal-center">
                            <a href="" class="link-button">Read More</a> | <a href="" class="link-button">Choose</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}