<!-- This is the template for the login page -->

{% extends "snippets/page_template.html" %}
{% block content %}
    {% include "snippets/navbar.html" %}
    <div class="sign-in standard-bg" style="display:flex;justify-content:center;align-items:center;height:94%">
        <div class="center-container">

            <!-- The form needs to filled in with 'something' for it to redirect -->

            <form>
                <h1 class="text">Welcome</h1>
                <div class="form-group">
                    <label class="text" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label class="text" for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <!-- why not centered? -->
                <div>
                    <label class="small-text">Don't have an account yet?</label>
                    <a class="small-clickable-text" href="#">Sign Up</a>
                </div>
                <div>
                    <button onclick="location.href='/my_datasets'" class="btn btn-primary">Sign In</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}